# Ignore some ancillary files
*.pyc
*.*~
*.d
*.so
*.root
*.log
__init__.py
*.pcm
*.rootmap
*.cmake

# Ignore folders
bin/
results/
databases/
CMakeFiles/
JRDatabase/
samples/
Plot/

# Ignore specific files
CMakeCache.txt
Makefile
G__TreeAnalysis.cxx
